.HA_LandingPagePart4_main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10vh 0px;
    background-color: #fff;
}
.HA_LandingPagePart4_main_child{
    max-width: 1500px;
    width: 100%;
    /* background-color: aqua; */
}
.HA_LandingPagePart4_main_heading{
    color: #0C111E;
    font-weight: 600;
    font-size: 3.6rem;
}
.HA_LandingPagePart4_main2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.HA_LandingPagePart4_main2_des{
    color: #475467;
    font-size: 1.6rem;
    font-weight: 400;
}
.HA_LandingPagePart4_main2_child1{
    width: 50%;
}
.HA_LandingPagePart4_main2_child2{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}