.HA_LandingPagePart5_main_con {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0;
    background-color: #0C111E;
    background-image: url(../../../assests/images/ccc.png);
    background-repeat: no-repeat;
    background-position: top right; /* Positioning the background image at the top right corner */
    /* background-size: 80% 80%; Adjust width and height as needed */
}

.HA_LandingPagePart5_main_con_child1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
    margin-bottom: 64px;
    /* background-color: aqua; */
    /* height: 100px; */
    padding: 20px 0px;
}
.HA_LandingPagePart5_main_con_child1_1{
    width: 50%;
    min-width:450px;
    /* padding: 10px; */
    /* height: 100%; */
    /* background-color: rgb(255, 25, 0); */
}
.HA_LandingPagePart5_main_con_child1_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:450px;

    width: 50%;
    /* height: 100%; */
    /* background-color: blue; */
}
.HA_LandingPagePart5_main_con_child1_1_heading{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 600;
}
.HA_LandingPagePart5_main_con_child1_1_des{
    color: #9EA0A5;
    font-size: 1.8rem;
    font-weight: 400;
}
.HA_LandingPagePart5_main_con_child1_1_2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.HA_LandingPagePart5_main_con_child1_1_2_para{
    color: #9EA0A5;
    font-size: 1.8rem;
}
.HA_LandingPagePart5_main_con_child1_2_child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    border: 1px solid #20283B;
    background-color: #141925;
    padding: 10px 0px;
    border-radius: 10px;


}
.HA_LandingPagePart5_main_con2_child2_2_child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 426px;
    border: 1px solid #20283B;
    background-color: #141925;
    padding: 10px 0px;
    border-radius: 10px;


}
.HA_LandingPagePart5_main_con_child1_2_child2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.HA_LandingPagePart5_main_con_child1_2_child2_heading{
    color: #FFFFFF;
    font-size: 2.1rem;
    font-weight: 600;
}
.HA_LandingPagePart5_main_con_child1_2_child2_para{
    color: #9EA0A5;
    font-weight: 400;
    font-size: 1.6rem;
    width: 207px;
    text-align: center;

}
.HA_LandingPagePart5_main_con_child1_2_child2_para2{
    color: #9EA0A5;
    font-weight: 400;
    font-size: 1.6rem;
    width: 279.74px;
    text-align: center;

}
.HA_LandingPagePart5_main_con_child2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
    margin-bottom: 64px;
    /* background-color: aqua; */
    /* height: 100px; */
    padding: 20px 0px;
}
.HA_LandingPagePart5_main_con_child1_2_child2_btn{
    width: 90%;
    color: white;
    background-color: #0C111E;
    border: 1px solid #20283B;
    padding: 15px 0px;
    font-size: 1.6rem;
    border-radius: 10px;
}
@media screen and (max-width: 900px) {
    .HA_LandingPagePart5_main_con_child1_1{
        width: 100%;
    }
    .HA_LandingPagePart5_main_con_child1_2{
        width: 100%;
    }
}